@model ToDoList21.Models.ProblemDeleteViewModel

@{
    ViewData["Title"] = "Удалить задачу " + Model.Title;
}

<div>
    <form asp-antiforgery="true" asp-action="Delete" method="post">
        <div>

        </div>
        <div>

        </div>
        <div class="form-group">
            <input type="submit" value="Удалить" />
            <button type="submit" asp-controller="Problem" asp-action="Index">Назад</button>
        </div>
    </form>
</div>
