@model  IEnumerable<ToDoList21.Models.Problem>

@{
    ViewData["Title"] = "Главная";
}

  
            <ul class="treeline">
                
                     @foreach (var item in Model)
                     {
                         
                            <div class="drop">+</div>@item.Title /* Блок раскрытия списка */
                            <li>
                               <ul>
                                 <li>Компоненты</li>
                                 <li>Плагины</li>
                                 <li>Модули</li>
                               </ul>
                            </li>@*главное меню*@
                     }
                
            </ul>

