@model  IEnumerable<ToDoList21.Models.Problem>

@{
    ViewData["Title"] = "Главная";
}
    <div class="column_RightBorder">
        <a class="abutton" asp-controller="Problem" asp-action="Create">Создать новую задачу</a>            
            <ul class="treeline">
                  @foreach (var item in Model)
                  {
                      <li class="Arrow">
                          <input class="ProblemId" type="hidden" value="@item.Id" />
                          
                         @if (item.ProblemId==null)
                         {
                              <i class="ProblemTitle">@item.Title</i>
                         }
                         else
                         {
                             @*<span>@item.Title</span>*@
                         }
                      </li>
                  }
            </ul>
    </div>

    <div class="description">
    </div>

