@model  IEnumerable<ToDoList21.Models.Problem>

@{
    ViewData["Title"] = "Главная";
}
    <div class="column_RightBorder">
            <ul class="treeline">
                           @foreach (var item in Model)
                           {
                               <li>@item.Title
@*                                 @if (item.SubProblems.Count() > 0)
                                  {
                                      <i></i>
                                      <span>@item.Title</span>
                                  }
                                  else
                                  {
                                      <span>@item.Title</span>
                                  }*@
                               </li>
                           }
            </ul>
    </div>

