/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */

.MainContainer{
    max-width:1200px;
    margin: 0px auto;
    padding: 0px 15px;
}

.column_RightBorder {
    width: 25%;
    height: 100%;
    border-right: 2px solid black;
}

li::marker {
    content: ">";
}

li:hover {
    color: green;
}

body {
    font-family: Arial,"Hevetica Neue", Arial, Helvetica, sans-serif;
    font-size: 30px;
    /*min-width: 1170px;*//*для сжатия*/
}

/*ааптивная верстка*/
@media (max-width:1200px){
    .container{
        max-width:970px;
    }
}

@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {
    .container {
        max-width: none;
    }
}
/*адаптивная верстка end*/

/*.li::before {
    content: ">";
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    height: 0.7em;
    border-bottom: 1px solid #ccc;
}*/
/*toDoList*/
/*.treeline .drop {
    position: absolute;
    left: -6px;
    top: 5px;
    width: 11px;
    height: 11px;
    line-height: 1em;
    text-align: center;
    background: #9F9F9F;
    color: #fff;*/ /* Фон и цвет кнопки, раскрывающей список */
    /*font-size: 78%;*/ /* Размер +/- */
    /*cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
}*/

/*.treeline li::before > .drop {
    margin-left: 1px;
}*/

/*.treeline .drop + ul {
    display: none;
}

.treeline .dropM + ul {
    display: block;
}*/
/*toDoList end*/



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
/*.body-content {
    padding-left: 15px;
    padding-right: 15px;
}*/

/* Carousel */
/*.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}*/

/* Make .svg files in the carousel display properly in older browsers */
/*.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}*/

/* QR code generator */
/*#qrCode {
    margin: 15px;
}*/

/* Hide/rearrange for smaller screens */
/*@media screen and (max-width: 767px) {*/
    /* Hide captions */
    /*.carousel-caption {
        display: none;
    }
}*/
