@charset "UTF-8";
body {
  font-family: Arial, "Hevetica Neue", Arial, Helvetica, sans-serif;
  font-size: 30px;
  padding: 9px;
}

.MainContainer {
  max-width: 1200px;
  margin: 0px auto;
  top: 15px;
}

.column_RightBorder {
  width: 25%;
  height: 100%;
  border-right: 2px solid black;
}

.description {
  position: absolute;
  top: 9px;
  left: 35%; /* Расстояние от левого края */
  /*div > a {
      display: inline-block;*/ /* Строчно-блочный элемент */
  /*background: #8C959D;*/ /* Серый цвет фона */
  /*color: #fff;*/ /* Белый цвет текста */
  /*padding: 1rem 1.5rem;*/ /* Поля вокруг текста */
  /*text-decoration: none;*/ /* Убираем подчёркивание */
  /*border-radius: 3px;*/ /* Скругляем уголки */
  /*margin-right: 10px;
  }*/
}

/*
.Arrow {
    content: ">";
}*/
ul {
  list-style: none;
}

li::before {
  content: "";
  border-left: 3px solid black;
  position: absolute;
  height: 100%;
  top: 0;
  left: -30px;
}

li::after {
  content: "";
  border-bottom: 3px solid black;
  position: absolute;
  top: 41px;
  left: -30px;
  width: 15px;
}

li {
  position: relative;
  padding-top: 20px;
}

/*ааптивная верстка*/
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}
/*адаптивная верстка end*/
/*.li::before {
    content: ">";
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.1em;
    height: 0.7em;
    border-bottom: 1px solid #ccc;
}*/
.ProblemTitle {
  cursor: pointer;
}

.abutton {
  display: inline-block; /* Строчно-блочный элемент */
  background: #8C959D; /* Серый цвет фона */
  color: #fff; /* Белый цвет текста */
  padding: 1rem 1.5rem; /* Поля вокруг текста */
  text-decoration: none; /* Убираем подчёркивание */
  border-radius: 3px; /* Скругляем уголки */
  margin-right: 10px;
}

/*toDoList*/
.treeline {
  list-style: none;
}

.treeline .drop {
  position: relative;
  left: -0.5em;
  /* top: .4em;  .2em (font-size: 80%;) + .2em (padding из .treeCSS li li) */
  width: 0.9em;
  height: 0.9em;
  line-height: 0.9em;
  text-align: center;
  background: #fff;
  font-size: 80%;
  cursor: pointer;
}
.treeline .drop .SubProblemContainer {
  display: none;
}
.treeline .dropM > ul {
  display: block;
}

.treeline li:last-child > .drop {
  margin-left: 1px;
}

.message {
  color: red;
  margin-top: 2%;
  text-align: center;
}